:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --border-color: #bdc3c7;
  --button-color: #34698d;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cv-application {
  display: flex;
  flex: 1;
  max-width: 100%;
  margin: 0;
  background-color: white;
}

.edit-section {
  flex: 1;
  padding: 2rem;
  background-color: var(--secondary-color);
  overflow-y: auto;
  max-height: 100vh;
}

.preview-section {
  flex: 1;
  padding: 2rem;
  background-color: white;
  overflow-y: auto;
  max-height: 100vh;
}

.general-info,
.education,
.experience {
  background-color: white;
  border-radius: 8px;
  padding: 3rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 10px 8px;
  margin-bottom: 1rem;
  color: #2c3e50;
  background-color: #ecf0f1;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

button:hover {
  background-color: #4c85ac;
}

.cv-preview {
  flex: 2;
  padding: 2rem;
  background-color: white;
  overflow-y: auto;
  max-height: 100vh;
}

.cv-preview header {
  text-align: center;
  margin-bottom: 2rem;
}

.cv-preview h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.cv-preview header p {
  font-size: 1.1rem;
  color: var(--text-color);
}

.cv-preview section {
  margin-bottom: 2rem;
}

.cv-preview h2 {
  color: var(--secondary-color);
  font-size: 1.8rem;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.cv-preview ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.cv-preview .job-header,
.cv-preview .education-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cv-preview .job-title {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.cv-preview .job,
.cv-preview .education-item {
  margin-bottom: 1.5rem;
}
.cv-preview .experience,
.cv-preview .education {
  padding: 0;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.top-buttons button {
  flex: 1;
  margin: 0 0.5rem;
}

.edit-button,
.remove-button {
  background-color: var(--button-color);
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 14px;
  margin-bottom: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}
